{#
/**
 * @file node--product.html.twig
 */
#}

{% set classes = classes ?? [
  'product-full',
  not node.isPublished() ? 'product-full--unpublished',
] %}

<article{{ attributes.addClass(classes) }}>
  <div class="product-full__inner">
    <div class="product-full__media">
      {{ content.field_product_images }}
    </div>
    <div class="product-full__content">
      <header class="product-full__header">
        {{ title_prefix }}
        <h1{{ title_attributes.addClass('product-full__title') }}>
          {{ label }}
        </h1>
        {{ title_suffix }}

        <div class="product-full__sku">{{ content.field_product_sku }}</div>
      </header>

      <div class="product-full__price">
        {{ content.field_product_price }}
      </div>

      <div class="product-full__variants"
           data-acf-product={{ node.field_product_sku.value }}
      >
        {{ content.field_react_block }}
      </div>

      {% if node.body.value %}
        <h5 class="product-full__block-label">{{ 'Description' }}</h5>
        <div{{ content_attributes.addClass(['product-full__body', 'text']) }}>
          {{ content.body }}
        </div>
      {% endif %}
    </div>
  </div>
</article>
